*{      /*s'applique à toute la page */
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   
}

body{
    font-size: 15px;    /* définit la taille du texte de tout l"élément et permet ainsi une adaptation */
    background-color: #e7cc35; 
    margin: 0px;
}

header{
    padding: 1px;
}

/* CONGIGURATION GLOBALE */

#container{     /* contient tout ce qui est dans body */
    max-width: 1024px;      /* définit la largeur maximale d'un élément */
    margin: auto;
    background-color: #fff;
    
}
figure{
    margin: 0;
}

#mattimg, .simp{    /* concerne les deux images de l'écran */
    width: 100%;
    vertical-align: bottom;     /* astuce pour éviter la zone blanche dû à l'image */
}

.pinaise{
    font-style: italic;
}

/* PARTIE PRINCIPALE */

main{
    display: flex;      /* détermine le type d'affichage d'un élément (en bloc ou en ligne) ainsi que sa disposition */
    padding: 1em;
    align-items: flex-start;    /* aligne tout les éléments dans le block */
    border-top: dashed #4d5cb1 2px;
}

#simpson{       /* le titre de l'article centrale */
    color: #e7cc35;
    font-size: 40px;
} 

article, aside{    /* concerne les 3 parties textuelles (nav à gauche, aside à droite) */
    padding: 1em;       /* définit les écarts de remplissage sur chaques côtés d'un élément */
}
nav, aside{
    flex: 1;        /* le flex permet à l'objet de définir l'espace qu'il va utiliser dans son block */
}
article{
    flex: 3;
}

article p{
    text-align: justify;
}

.bluebox{
    background-color: #4d5cb1;
    color: #fff;
    text-align: center;

}

.center{    /* le titre "Matt groening" */
    text-align: center;
}

ul{
    list-style-type: none;      /* supprime les puces de la liste */
    text-transform: uppercase ;     /* souligne le texte */
    margin: 0px;
    padding: 0.5em 0em 0.5em 0em;
    line-height: 150%;      /* agrandit l'espace entre chaques lignes */
    justify-content:center;
    display: flex; 
    
}

ul li{
    padding: 10px;
}

#gallery{
    display: flex;
    gap: 1em;       /* permet de mettre un espace entre les objets */
    flex-wrap: wrap;    /* permet à l'image de se mettre l'une en dessous de l'autre */
}
#gallery>div{
    flex: 1;
    min-width: 180px;
}
.film{
    width: 100%;
    border:ridge black 1px;
}

/* LE FOND DU SITE INTERNET */


footer{
    background-color: rgb(11, 11, 194);
    color: #fff;
    text-align: center;
}

@media screen and (max-width:800px){    /* adapte l'écran lors du passage à un telephone mobile >800 pixels, change le "main" ( article simpson / image / matt ) */
    main{
        flex-direction: column;     /* adapte en colonne */
    }
}

@media screen and (max-width:550px){
    ul{
        flex-direction: column;
    }
}